*{

    margin: 0;
    font-family: "Open sans", sans-serif;
        scroll-behavior: smooth;
    transition: all 0.2s ease-out;
 
}

input{
    outline:none;
}

a{
    text-decoration:none;
}

h1{

font-family: "Montserrat";
font-weight: 700;
font-size: 40px;
line-height: 46px;
text-align: center;
text-transform: uppercase;
color: white;

}


header{
    max-width: 1440px;
    margin: auto;
    display: flex;
    max-height: 120px;
    justify-content: space-evenly;

}

header ul{
list-style: none;
    display: flex;
    justify-content: space-evenly;

}

header img{
    height: 84%;
    margin:10px

}

header>a{
    max-width: 200px;
}

header nav{
    align-content:space-evenly;
    width: -webkit-fill-available;
}

header ul li a{

font-family: "Open Sans";
font-weight: 400;
font-size: 16px;
line-height: 20px;
text-transform: uppercase;
color: black;

}

header ul li{
    display: contents;
}

header a:hover{
    color: #27697C;
    transform: scale(1.2);
}

  header button{
        display: none;
    }


@media screen and (max-width :748px) {

    header nav{
        display: none;
    }

    header button{
        display: flex;
        background-color: rgba(0, 0, 0, 0);
        border-width: 0;
    }

    header i{
        align-content: space-evenly;
    }
    header{
        justify-content: space-between;
    }
}

footer{

    background-color: #27697C;
    min-height: 42px;
    align-content: space-evenly;
}

footer div{
    max-width: 1440px;
    display: flex;
    margin: auto;
    justify-content: center;
}

footer a, footer p{
font-family: Open Sans;
font-weight: 400;
font-size: 16px;
line-height: 18.4px;
text-align: center;
color: white;
}

footer a:hover{
    color: rgb(166, 166, 166);
}


#s1{
    background-image:url(../img/f51a84c409f422140ea4460d2c6d18b76058a51f.jpg) ;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 700px;
    align-content: space-evenly;
}

#s1 article{
    background-color: #27697CE3;
    justify-self: center;
    max-width: 600px;
    padding: 20px 0;
}

#s1 p{
font-family: Montserrat;
font-weight: 600;
font-size: 18px;
line-height: 21px;
text-align: center;
color: white;
padding: 20px 0 35px 0;

}

#s1 a{
font-family: Roboto;
font-weight: 500;
font-size: 16px;
line-height: 18px;
text-align: center;
background-color: white;
color: #27697C;
padding: 13px 24px;
display: block;
width: fit-content;
justify-self: center;

}

#s1 a:hover{
color: white;
background-color: #276a7c00;
 transform: scale(1.1);
 border-style: solid;
 border-width: 1px;

}

#s2 hr{

    border-color: #27697C;
    border-width: 2px;
    width: 42px;
    align-self: start;
    margin: 10px;
    border-style: solid;
}

#s2d1, #s2d2{
    display: flex;
}

#s2{
    max-width: 1440px;
    margin: auto;
    padding: 100px 15px;
}

#s2gd{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#s2 img{
    max-width: 700px;
    max-height: 640px;
    object-fit: none;
    object-position: top left;
    width: 100%
}


#s2 h2{
font-family: "Montserrat";
font-weight: 600;
font-size: 20px;
line-height: 23px;
color: #27697C;
padding-top: 30px;
}

#s2 h3{
font-family: "Montserrat";
font-weight: 700;
font-size: 30px;
line-height: 34.5px;
text-transform: uppercase;
color: black;
max-width: 620px;
padding-bottom: 70px;
}

#s2 article{

    justify-self: center;
    max-width: 720px;
    padding-left: 15px;
    padding-right: 50px;
}

#s2gd p{
max-width: 500px;
font-family: "Open Sans";
font-weight: 400;
font-size: 16px;
line-height: 32px;
padding-bottom: 35px;
width: fit-content;
}

#s2d2 a{
font-family: Roboto;
font-weight: 500;
font-size: 16px;
line-height: 18px;
text-align: center;
color: white;
background-color: #27697C;
padding: 13px 24px;
display: block;
width: fit-content;


}

#s2d2 a:hover{
background-color: white;    
color: #276a7c;
 transform: scale(1.1);
 border-style: solid;
 border-width: 1px;

}

#s2d2 hr{
    color: rgba(0, 0, 0, 0);
    border-color: rgba(0, 0, 0, 0);
}

@media screen and (max-width :1024px) {

#s2gd{

    grid-template-columns: 1fr;
}

#s2 img{

    justify-self: center;
    padding-top: 30px;
}


}

#s2d3{
    display: flex;
    justify-content: space-evenly;
    padding-top: 50px;
    text-align: center;
}

#s2d3 p{
font-family: "Montserrat";
font-weight: 600;
font-size: 16px;
line-height: 18.4px;
text-align: center;
padding-bottom: 20px;

}

#s2 i{
color: #27697C;
transform:scale(3.5);
margin: 40px 0 40px 0;
}



#s3{
    background-color: #27697C;
}

#s3gd{

    max-width: 1440px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 70px 0;
}

#s3di{

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    padding: 15px;
    column-gap: 15px;
    row-gap: 15px;

}

#s3di img:nth-child(5){

    grid-column: 1/3;
    width: 100%;
    object-position: top;
}

#s3di img{

    width: 100%;
    max-height: 227px;
    
    object-fit: cover;
    min-height: -webkit-fill-available;
}

#s3 h2{
font-family: "Montserrat";
font-weight: 600;
font-size: 20px;
line-height: 23px;
color: white;
}

#s3 h3{
font-family: "Montserrat";
font-weight: 700;
font-size: 30px;
line-height: 34.5px;
text-transform: uppercase;
color: white;
padding: 7px 0 40px 0;

}

#s3 p{
font-family: "Open Sans";
font-weight: 400;
font-size: 16px;
line-height: 32px;
color: white;
max-width: 500px;
padding: 7px 0;
}


#s3 a{
font-family: Roboto;
font-weight: 500;
font-size: 16px;
line-height: 18px;
text-align: center;
background-color: white;
color: #27697C;
padding: 13px 24px;
display: block;
width: fit-content;
margin-top: 30px;


}

#s3 a:hover{
color: white;    
background-color: #276a7c;
 transform: scale(1.1);
 border-style: solid;
 border-width: 1px;

}


#s3 article{

    padding: 10px 80px;
}